h2 {
    text-align:center;
    text-transform: uppercase;

}

p {
    text-align:center;
}

.bloc-adresse{
    display:flex;
    align-items: center;
    background-color: #c2f9f4;
    width: 70%;
    height: 15%;
    padding: 15px;
    text-align:center;
    margin-left: 13%;
    
}

.icon{
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-left:10%;
    
}

.icon-flex{
    display: flex;
    
}

.resize {
    height: 100%;
}

.icon-flex img {
    padding-right:10%;
    padding-left:20%;
}

.icon-flex p {
    text-align:left;
}